<template>
  <div v-if="currentArticulo" class="edit-form">
      <br><br><br><br><br><br><br><br>
    <h4>Edicion de Articulos</h4>
    <form>
      <div class="form-group">
        <label for="referencia">Referencia</label>
        <input type="text" class="form-control" id="referencia"
          v-model="currentArticulo.referencia"
        />
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input type="text" class="form-control" id="descripcion"
          v-model="currentArticulo.descripcion"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2"
      @click="deleteArticulo"
    >
      Borrar
    </button>

    <button type="submit" class="badge badge-success"
      @click="updateArticulo"
    >
      Actualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Por favor seleccione un Articulo...</p>
  </div>
</template>

<script>
import ArticuloDataService from "../services/ArticuloDataService";

export default {
  name: "Articulo",
  data() {
    return {
      currentArticulo: null,
      message: ''
    };
  },
  methods: {
    getArticulo(idarticulo) {
      console.log("articulo");
      ArticuloDataService.get(idarticulo)
        .then(response => {
          this.currentArticulo = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updatePublished(status) {
      var data = {
        id: this.currentArticulo.idarticulo ,
        referencia: this.currentArticulo.referencia,
        description: this.currentArticulo.description,
        published: status
      };

      ArticuloDataService.update(this.currentArticulo.idarticulo , data)
        .then(response => {
          this.currentArticulo.published = status;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateArticulo() {
      ArticuloDataService.update(this.currentArticulo.idarticulo , this.currentArticulo)
        .then(response => {
          console.log(response.data);
          this.message = 'El Articulo fue actualizado correctamente!!!';
          alert("OK: El Articulo fue actualizado correctamente!!!.");
          this.$router.push({ name: "listaArticulos" });
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteArticulo() {
      ArticuloDataService.delete(this.currentArticulo.idarticulo )
        .then(response => {
          console.log(response.data);
          this.message = 'El Articulo fue eliminado correctamente!!!';
          alert("OK: El Articulo fue eliminado correctamente!!!.");
          this.$router.push({ name: "listaArticulos" });
          
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getArticulo(this.$route.params.idarticulo );
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>