<template>
  <div class="list_row">
        <div class="col-md-4">
        </div>
    <div class="col-md-3">
      <h4>Lista de Articulos</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(articulo, index) in articulos"
          :key="index"
          @click="setActiveArticulo(articulo, index)"
        >
          {{ articulo.referencia }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div v-if="currentArticulo">
        <h4>Detalle Articulo</h4>
        <div>
          <label><strong>Referencia:</strong></label> {{ currentArticulo.referencia }}
        </div>
        <div>
          <label><strong>Descripcion:</strong></label> {{ currentArticulo.descripcion }}
        </div>
        <div>
          <label><strong>Fecha Registro:</strong></label> {{ currentArticulo.fecharegistro }}
        </div>

        <a class="badge badge-warning" :href="'/#/articulo/articulo/' + currentArticulo.idarticulo">
          Editar
        </a>
      </div>
      <div v-else>
        <br />
        <p>Por favor seleccionar un articulo...</p>
      </div>
    </div>
  </div>
</template>

<script>
import ArticuloDataService from "../services/ArticuloDataService";

export default {
  name: "articulos-list",
  data() {
    return {
      articulos: [],
      currentArticulo: null,
      currentIndex: -1,
      referencia: ""
    };
  },
  methods: {
    retrieveArticulos() {
      ArticuloDataService.getAll()
        .then(response => {
          this.articulos = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveArticulos();
      this.currentArticulo = null;
      this.currentIndex = -1;
    },

    setActiveArticulo(articulo, index) {
      this.currentArticulo = articulo;
      this.currentIndex = index;
    },

    removeAllArticulos() {
      ArticuloDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchReferencia() {
      ArticuloDataService.findByTitle(this.referencia)
        .then(response => {
          this.articulos = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveArticulos();
  }
};
</script>

<style>
.list_row{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_lista_Articulos {
    border: 3px solid #283747;
    border-radius: 10px;
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list_row h2{
    color: #283747;
}
.list_row form{
    width: 70%;
}
.list_row input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #283747;
}
.list_row button{
    width: 100%;
    height: 40px;
    color: #E5E7E9;
    background: #283747;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
}
.list_row button:hover{
    color: #E5E7E9;
    background: crimson;
    border: 1px solid #283747;
}

.list {
  text-align: left;
  max-width: 350px;
  margin: auto;
}
</style>