<template>
    <div class="information">
        <h1>Lista de Articulo por codigo</h1>
        <h2>Referencia: <span>{{referencia}}</span></h2>
        <h2>Descripcion: <span>{{descripcion}} </span></h2>
        <h2>Fecha Registro: <span>{{fecharegistro}}</span></h2>
        <h2>Color: <span>{{idcolor_id}}</span></h2>
        <h2>Talla: <span>{{idtalla_id}}</span></h2>
    </div>
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';
export default {
    name: "ListarArticulo",
    data: function(){
        return {
        referencia: "",
        descripcion: "",
        fecharegistro: "",
        idcolor_id: "",
        idtalla_id: "",
        }
},
    methods: {
    getData: async function () {
        if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) 
        {
            this.$emit('logOut');
        return;
        }

    await this.verifyToken();
    let token = localStorage.getItem("token_access");
    //let userId = jwt_decode(token).user_id.toString();
    let articuloId = 5;
    //axios.get(`https://alphakidsstore.herokuapp.com/articulo/detail/${articuloId}`, {headers: {'Authorization': `Bearer ${token}`}})
    axios.get(`https://alphakidsstore.herokuapp.com/articulo/detail/${articuloId}`)
   .then((result) => {
        this.referencia = result.data.referencia;
        this.descripcion = result.data.descripcion;
        this.fecharegistro = result.data.fecharegistro;
        this.idcolor_id = result.data.idcolor;
        this.idtalla_id = result.data.idtalla;
        })

    .catch(() => {
    this.$emit('logOut');
    });
},

verifyToken: function () {
    return axios.post("https://alphakidsstore.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}}
    )
    .then((result) => {
    localStorage.setItem("token_access", result.data.access);
    })
    .catch(() => {
    this.$emit('logOut');
    });
    }
    },
created: async function(){
this.getData();
},
}
</script>

<style>
    .information{
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information h1{
        font-size: 60px;
        color: #0f1316;
        }
    .information h2{
        font-size: 40px;
        color: #283747;
        }
    .information span{
        color: crimson;
        font-weight: bold;
        }
</style>