<template>
    <div class="registrar_Articulo">
        <div class="container_registrar_Articulo">
            <h2>Registrar Articulo</h2>
            <form v-on:submit.prevent="processregistrarArticulo" >
                <input type="text" v-model="articulo.referencia" placeholder="Referencia">
                <br>
                <input type="text" v-model="articulo.descripcion" placeholder="Descripcion">
                <br>
                <input type="datetime" v-model="articulo.fecharegistro" placeholder="Fecha Registro">
                <br>
                <input type="text" v-model="articulo.idcolor" placeholder="Color">
                <br>
                <input type="text" v-model="articulo.idmarca" placeholder="Marca">
                <br>
                <input type="text" v-model="articulo.idproveedor" placeholder="Proveedor">
                <br>
                <input type="text" v-model="articulo.idtalla" placeholder="Talla">
                <br>
                <input type="text" v-model="articulo.idtipoarticulo" placeholder="Tipo Articulo">
                <br>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: "RegistrarArticulo",
    data: function(){
    return {
        articulo: {
            referencia: "",
            descripcion: "",
            fecharegistro: "",
            urlfoto: "aquivalafoto",
            idcolor: null,
            idmarca: null,
            idproveedor: null,
            idtalla: null,
            idtipoarticulo: null,
                }
            }

        },
methods: {
                processregistrarArticulo: function(){
                console.log(this.articulo)
                axios.post("https://alphakidsstore.herokuapp.com/articulo/",
                this.articulo,
                {headers: {}}
                )

                .then((result) => 
                {
                alert("OK: Registro del articulo exitoso!!.");
                this.$router.push({ name: "listaArticulos" });
                this.$emit('completedRegistrarArticulo')
                
                })
                    .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro del articulo.");
                });
            },
        },

    }   

</script>

<style>
.registrar_Articulo{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_registrar_Articulo {
    border: 3px solid #283747;
    border-radius: 10px;
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registrar_Articulo h2{
    color: #283747;
}
.registrar_Articulo form{
    width: 70%;
}
.registrar_Articulo input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #283747;
}
.registrar_Articulo button{
    width: 100%;
    height: 40px;
    color: #E5E7E9;
    background: #283747;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
}
.registrar_Articulo button:hover{
    color: #E5E7E9;
    background: crimson;
    border: 1px solid #283747;
}
</style>

