<template>
    <div class="registrar_Proveedor">
        <div class="container_registrar_Proveedor">
            <h2>Registrar Proveedor</h2>  

            <form v-on:submit.prevent="processregistrarProveedor" >
                <input type="text" v-model="proveedor.nombrerazonsocial" placeholder="Razon Social">
                <br>
                <input type="text" v-model="proveedor.direccion" placeholder="Dirección">
                <br> 
                <input type="text" v-model="proveedor.telefono" placeholder="Telefono">
                <br>
                <input type="text" v-model="proveedor.contacto" placeholder="Contacto">
                <br>
                <input type="text" v-model="proveedor.paginaweb" placeholder="Pagina Web">
                <br>
                <input type="text" v-model="proveedor.fecharegistro" placeholder="Fecha Registro">
                <br>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: "RegistrarProveedor",
    data: function(){
    return {
        proveedor: {
            nombrerazonsocial: "",
            direccion: "",
            telefono: "",
            contacto: "",
            paginaweb: "",
            fecharegistro: "",
                }
            }
    },
methods: {
            processregistrarProveedor: function(){
            console.log(this.proveedor)
            axios.post("https://alphakidsstore.herokuapp.com/proveedor/", 
            this.proveedor,  
            {headers: {}}
            )

            .then((result) => 
                {   
                    let dataRegistrarProveedor = 
                    {
            
                    }
                })
                    .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro del proveedor.");
                });
        }
    }
}
</script>

<style>

    .registrar_Proveedor{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%; 
        color: red;  
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_registrar_Proveedor {
        border: 3px solid  #283747;
        border-radius: 10px;
        width: 30%;
        height: 60%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .registrar_Proveedor h2{
        color: #283747;

    }

    .registrar_Proveedor form{
        width: 70%;
        
    }

    .registrar_Proveedor input{
        height: 40px;
        width: 100%;

        box-sizing: border-box;
        padding: 15px 20px;
        margin: 6px 0;

        border: 1px solid #283747;
    }

    .registrar_Proveedor button{
        width: 100%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 20px 0 25px 0;
    }

    .registrar_Proveedor button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }

</style>