<template>
  <div id="app" class="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/user/home" class="navbar-brand">Alpha Kids Store</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/proveedor/registrarproveedor" class="nav-link">Registrar Proveedor</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/articulo/registrararticulo" class="nav-link">Registrar Articulo</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/articulo/listaArticulos" class="nav-link">Lista Articulos</router-link>
        </li>

      </div>
    </nav>
    <div class="header">
      <img src="..\src\assets\log.png" align="center">
      <h1>Alpha Kids Store</h1>
      <nav>
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="loadAccount"> Cuenta </button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogIn">Iniciar Sesión</button>
        <button v-if="!is_auth" v-on:click="loadSignUp">Registrarse</button>
      </nav>
    </div>
    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </div>
    <div class="footer">
      <h2>Tienda AKS 2021</h2>
    </div>
  </div>
</template>

<script>
export default {
name: 'App',
  data: function(){
  return{
  is_auth: false
  }
},

components: {
},

methods:{

    verifyAuth: function() {
    this.is_auth = localStorage.getItem("isAuth") || false;
    if (this.is_auth == false)
    this.$router.push({ name: "logIn" });
    else
    this.$router.push({ name: "home" });
  },

  loadRegistrarArticulo: function() {
  this.$router.push({ name: "registrarArticulo" });
  },

  loadListarArticulo: function() {
  this.$router.push({ name: "listarArticulo" });
  },

  loadRegistrarProveedor: function() {
  this.$router.push({ name: "registrarProveedor" });
  },

  loadHome: function() {
  this.$router.push({ name: "home" });
  },

  loadLogIn: function(){
    this.$router.push({name: "logIn"})
  },

  loadSignUp: function(){
    this.$router.push({name: "signUp"})
  },

  loadAccount: function () {
    this.$router.push({ name: "account" });
  },

  logOut: function () {
    localStorage.clear();
    alert("Sesión Cerrada");
    this.verifyAuth();
  },

  completedLogIn: function(data) {
    localStorage.setItem("isAuth", true);
    localStorage.setItem("username", data.username);
    localStorage.setItem("token_access", data.token_access);
    localStorage.setItem("token_refresh", data.token_refresh);
    alert("Autenticación Exitosa");
    this.verifyAuth();
  },
  
  completedSignUp: function(data) {
    alert("Registro Exitoso");
    this.completedLogIn(data);
  },

  completedRegistrarArticulo: function() {
    alert("Registro Exitoso");
    //this.completedLogIn(data);
  },

  created: function(){
    this.verifyAuth()
  }
}
}
</script>

<style>
body {
  margin: 0 0 0 0;
}

.header {
  margin: 0%;
  padding: 0;
  width: 100%;
  height: 10vh; 
  min-height: 100px;
  background-color: #ffffff ;
  color:#E5E7E9  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: #282a2b;
  font-family: Fredoka One, cursive;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top:10px;
}

.header nav {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.header nav button {
  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 20px
}

.header nav button:hover {
  color: #283747;
  background: #e5e7e9;
  border: 1px solid #e5e7e9;
}

.main-component {
  width: 100%;
  height: 800px;
  margin: 0%;
  padding: 0%;
  background: url(../src/assets/fondo.jpg) no-repeat;
  align-items: flex-star
}

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #e5e7e9;
  color: #e5e7e9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h2 {
  color: #282a2b;
  font-family: Fredoka One, cursive;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top:10px;
}
</style>